venv/
.env
.env.*
!.env.example
*.env
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
Graph_Database/GNN/fraud_detection_ring/dataset/creditcard.csv
Graph_Database/GNN/fraud_detection_ring/dataset/creditcard.csv
